.img-holder {
  width: 100%;
  height: 70vh;
  background: url("/img/c++.jpg");
  background-size: cover;
  background-position-y: 50%;
  padding-top: 10vh; }
.img-holder1 {
  width: 100%;
  height: 70vh;
  background: url("/img/algo.png");
  background-size: cover;
  background-position-y: 50%;
  padding-top: 10vh; }
.img-holder2 {
  width: 100%;
  height: 70vh;
  background: url("/img/iot.png");
  background-size: cover;
  background-position-y: 50%;
  padding-top: 10vh; }
.img-holder3 {
  width: 100%;
  height: 70vh;
  background: url("/img/c++.jpg");
  background-size: cover;
  background-position-y: 50%;
  padding-top: 10vh; }

.hero-text {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-family: "raleway";
  background: rgba(0, 0, 0, 0.5);
  top: 45%;
  color: #FFF;
  position: relative; }

.hero-text .title {
  font-size: 40px; }

.hero-text .sub-title {
  font-size: 20px;
  padding-top: 8px; }

.extra{
    background: #2ECC71; 
    padding: 10px 20px;
}

.info{
    float: left; color: #ffffff;}

.info a{
    text-decoration: none; color:#ffffff;}

.programs {
  padding-bottom: 20px; }

.programs .prog {
  display: inline-block;
  padding: 10px 20px;
  background: #487ba0;
  margin: 0 10px;
  font-weight: lighter; }


.programs .prog .head .name {
  font-size: 23px;
  float: left; }

.programs .prog .head .duration {
  font-size: 18px;
  font-weight: lighter;
  float: right;
  color: whitesmoke; }


.programs .prog .desc {
  clear: both;
  padding: 20px 0 0 0;
  line-height: 24px;
  color: #333; }

.programs .container {
  margin: 0 auto;
  position: relative; }


.desc{
    background-color: #fff;
}

.cdesc{
    border-radius: .2em;
    border: 1px solid #cccccc;

    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
.cdesc:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px     rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.program-info {
  background: #EEE; }

.program-info .section-title {
  background: #EEE; }

.program-info .desc {
  text-align: left;
  font-size: 15px;
  font-style: italic;
  max-width: 900px;
  margin: 0 auto;
  font-weight: lighter;
  line-height: 20px; }

.info {
  text-align: center;
  padding: 20px 0; }

.info table {
  text-align: center;
  display: inline-block; }

.info th, .info td {
  width: 250px;
  line-height: 50px; }

.info tr:nth-child(odd) {
    background-color: #0a8bbb; }
.info tr:nth-child(even) {
    background-color: white;
    color:#111212}

.info td {
  border-bottom: 1px solid #888; }

.info th {
  color: #FFF; }

.info .tile-add {
  background-color: #444; }

.info .tile-basic {
  background-color: #333; }

.info .tile-advanced {
  background-color: #222; }



.two-tiles {
  padding-bottom: 40px; }
  .two-tiles .tile {
    background: #507d9e;
    color: #fff;
    padding: 15px;
    min-height: 115px; }
    .two-tiles .tile .tile-title {
      font-size: 30px;
      line-height: 35px; }
    .two-tiles .tile .value {
      font-size: 40px;
      line-height: 50px; }
    .two-tiles .tile:before {
      content: '';
      display: block;
      float: left;
      position: relative;
      height: 60px;
      width: 60px;
      background-image: url(../assets/icons/Calendar.png);
      margin-right: 10px;
      background-size: 60px 60px;
      top: 1px;
      margin: 11px 47px 0 10px; }
  .two-tiles .tile.date-tile:before {
    background-image: url(../assets/icons/Calendar.png); }
  .two-tiles .tile.strength-tile:before {
    background-image: url(../assets/icons/User%20Group%20Man%20Man.png); }
  .two-tiles .tile.money-tile:before {
    background-image: url(../assets/icons/Money%20Box.png); }
  .two-tiles .tile.sw-tile:before {
    background-image: url(../assets/icons/Maintenance.png); }
  .two-tiles .tile.sw-tile .tools {
    height: 40px;
    width: auto;
    float: left;
    padding: 5px; }

.nav-side {
  margin: 30px 0 0 30px;
  position: absolute; }
  .nav-side .sticky {
    width: 200px; }
  .nav-side a {
    display: block;
    width: 200px;
    padding: 15px 0 15px 10px;
    background:#368bff;
    color: #FFF;
    border: 1px solid #222; }
  .nav-side a.active, .nav-side a:hover {
    color: #222;
    background-color:#FFF ; }

.accordion-item.is-active .accordion-title, .accordion-item:hover .accordion-title {
  color: #FFF;
  background:#189ae4; }
  .accordion-item.is-active .accordion-title:before, .accordion-item:hover .accordion-title:before {
    font-size: 20px; 
  }

.accordion-title {
  font-size: 16px;
  color: #000;
  background:whitesmoke;
  text-decoration: none; }

/*# sourceMappingURL=course.css.map */
