.img-holder {
    width: 100%;
    height: 70vh;
    background: url("/assets/career1.jpg");
    background-size: cover;
    background-position-y: 50%;
    padding-top: 10vh;
}

.hero-text {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-family: "raleway";
    background: rgba(0,0,0,0.5);
    top: 45%;
    color: #FFF;
    position: relative;
}

.hero-text .title {
    font-size: 40px;
}


.hero-text .sub-title {
    font-size: 20px;
    padding-top: 8px;
}

.programs {
    padding-bottom: 20px;
}


.programs .prog {
    display: inline-block;
    padding: 10px 20px;
    background: #EEE;
    margin: 0 10px;
    font-weight: lighter;
}

.programs .prog .head .name {
    font-size: 23px;
    float: left;
}

.programs .prog .head .duration {
    font-size: 18px;
    font-weight: lighter;
    float: right;
    color: #555;
}

.programs .prog .desc {
    clear: both;
    padding: 20px 0 0 0;
    line-height: 24px;
    color: #333
}

.programs .container     {
    margin: 0 auto;
    position: relative;
}

.program-info {
    background: #EEE;
}

.program-info .section-title{
    background: #EEE;
}

.program-info .desc {
    text-align: left;
    font-size: 15px;
    font-style: italic;
    max-width: 900px;
    margin: 0 auto;
    font-weight: lighter;
    line-height: 20px;
}

.info {
    text-align: center;
    padding: 20px 0;
}

.info table {
    text-align: center;
    display: inline-block;
}

.info th, .info td {
    width: 250px;
    line-height: 50px;
}

.info tr:nth-child(odd) {
    background-color: #DDD;
}

.info td {
    border-bottom: 1px solid #888;
}

.info th {
    color: #FFF;
}

.info .tile-add {
    background-color: #444;
}

.info .tile-basic {
    background-color: #333;
}

.info .tile-advanced {
    background-color: #222;
}


.student-speak {
    .rating{
        background: #eee;
        padding: 20px 0;
        text-align: center;
        .big {
            font-weight: bold;
            font-size: 25px;
        }
        .stars {
            padding: 20px 0;
            img {
                display: inline-block;
                width: 25px;
                height: auto;
            }
        }
        .by {
            font-size: 15px;
            color: #333;
            font-style: italic;
        }
    }
    .testimonials-2 {
        color: #fff;
        height: 148px;
        .revs {
            background: #333;
        }
        .pic {
            background: url('/assets/person-1.jpg');
            background-size: contain;
            min-height: 148px;
            background-repeat: no-repeat;
        }
        .rev {
            font-size: 18px;
            line-height: 25px;
            font-style: italic;
            padding: 10px 10px 0 0;
        }
    }

    padding-bottom: 30px;

}


.two-tiles {
    padding-bottom: 40px;
    .tile {
        background: #444;
        color: #fff;
        padding: 15px;
        min-height: 115px;
        .tile-title {
            font-size: 30px;
            line-height: 35px;
        }
        .value {
            font-size: 40px;
            line-height: 50px;
        }

      &:before{
        content: '';
        display: block;
        float: left;
        position: relative;
        height: 60px;
        width: 60px;
        background-image: url(../assets/icons/Calendar.png);
        margin-right: 10px;
        background-size: 60px 60px;
        top: 1px;
        margin: 11px 47px 0 10px;
      }
    }

    .tile.date-tile {
      &:before{
        background-image: url(../assets/icons/Calendar.png);
      }
    }

  .tile.strength-tile {
    &:before{
      background-image: url(../assets/icons/User%20Group%20Man%20Man.png);
    }
  }

  .tile.money-tile {
    &:before{
      background-image: url(../assets/icons/Money%20Box.png);
    }
  }

  .tile.sw-tile {
    &:before{
      background-image: url(../assets/icons/Maintenance.png);
    }
  }

  .tile.sw-tile {
    .tools {
      height: 40px;
      width: auto;
      float: left;
      padding: 5px;
    }
  }
}


.nav-side {
  margin: 30px 0 0 30px;
  position: absolute;
  .sticky {
    width: 200px;
  }
  a {
    display: block;
    width: 200px;
    padding: 15px 0 15px 10px;
    background: #222;
    color: #FFF;
    border: 1px solid #222;
  }
  a.active, a:hover {
    color: #222;
    background-color: #FFF;
  }
}
.accordion-item.is-active, .accordion-item:hover {
  .accordion-title {
    color: #FFF;
    background: #000;
    &:before {
      font-size: 20px;
    }
  }
}
.accordion-title {
  font-size: 16px;
  color: #000;
  background: #DDD;
  text-decoration: none;
}